* {
  box-sizing: border-box;
}

button:focus {
	outline: 0;
}

.listing-header {
  height: 25vh;
  width: 100vw;
  display: inline-block;
  background-image:url(../resources/baseball-field.jpg);
  background-size: cover;
}

.logo-wrapper {
  display: block;
  height: 20vh;
  width: 30vw;
  position: relative;
  z-index: 1;
  margin: 2vw 0 0 2vw;

}

.logo {
  object-fit: contain;
  height: 100%;
	width: 100%;
  margin: 0;
}

.listing-btn-cont {
  display: flex;
  justify-content: center;

}

.listing-btn {
  border: 1px solid #00b81c;
	background: #FAFAFA;
	color: #0f8eb9;
  height: 5vh;
  width: 30vw;
  margin-top: 3vh;
}

.listing-btn:hover {
  cursor: pointer;
  background: #0f8eb9;
  color: #FAFAFA;
  border: 1px solid #0f8eb9;
}

.listings-cont {
  display: flex;
  width: 100vw;
  margin-top: 2vh;
  border: 1px solid red;
  overflow: scroll;
}
